/* toggle styles */
.revslider-toggle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
}

.revslider-container {
    min-height: 36px;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
}

/* toggle icon styles */
.icon-expand {
    background: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20id%3D%22expand%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M17.303%208.283L12%2013.586%206.697%208.283%205.283%209.697%2012%2016.414l6.717-6.717z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
    width: 28px;
    height: 32px;
    position: absolute;
    left: auto;
    right: 0;
    margin: 4px;
}

.icon-collapse {
    background: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20id%3D%22collapse%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M6.697%2015.714L12%2010.412l5.303%205.302%201.414-1.414L12%207.583%205.283%2014.3z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
    width: 28px;
    height: 32px;
    position: absolute;
    left: auto;
    right: 0;
    margin: 4px;
}

.skin-monobook .toggle-icon {
    right: 15px;
}

/* pin icon styles */
.icon-pin {
    background-image: url(/w/load.php?modules=ext.RevisionSlider.icons&image=auto-expand&format=rasterized&lang=en&skin=vector&version=0uokcmp);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%20283.67461%20328.56086%22%3E%3Cpath%20d%3D%22M112.037%20183.315l13.081%2010.638c-19.395%2023.495-35.637%2038.18-51.396%2051.511%2011.553-22.015%2023.876-43.21%2038.315-62.15zM165.5%2082.242c-3.145%206.995-8.094%2011.658%201.072%2023.75-12.936%2017.401-30.214%2031.916-47.857%2046.963-13.992-8.578-23.804-18.506-45.358-9.285l49.564%2039.9%2049.19%2040.356c4.62-22.984-7.104-30.56-18.361-42.502%2011.122-20.347%2021.8-40.227%2036.19-56.447%2013.71%206.5%2017.262.701%2023.466-3.807-17.04-13.51-32.144-26.132-47.906-38.928z%22%2F%3E%3C%2Fsvg%3E);
    width: 30px;
    height: 30px;
    position: absolute;
    left: auto;
    right: 40px;
    border-radius: 2px;
}

.icon-pin:hover {
    background-color: #f8f9fa;
}

.icon-pin:active {
    background-color: #c8ccd1;
}

.icon-pin.icon-pinned { /* Two classes to comply with CSS Specificity */
    background-image: url(/w/load.php?modules=ext.RevisionSlider.icons&image=auto-expand&variant=invert&format=rasterized&lang=en&skin=vector&version=0uokcmp);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%20283.67461%20328.56086%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20xmlns%3Adefault%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20d%3D%22M112.037%20183.315l13.081%2010.638c-19.395%2023.495-35.637%2038.18-51.396%2051.511%2011.553-22.015%2023.876-43.21%2038.315-62.15zM165.5%2082.242c-3.145%206.995-8.094%2011.658%201.072%2023.75-12.936%2017.401-30.214%2031.916-47.857%2046.963-13.992-8.578-23.804-18.506-45.358-9.285l49.564%2039.9%2049.19%2040.356c4.62-22.984-7.104-30.56-18.361-42.502%2011.122-20.347%2021.8-40.227%2036.19-56.447%2013.71%206.5%2017.262.701%2023.466-3.807-17.04-13.51-32.144-26.132-47.906-38.928z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A);
    background-color: #2a4b8d;
}

.skin-monobook .icon-pin {
    right: 55px;
}

/* collapse while collapsed :v */
.revslider-container-collapsed .revslider-slider-wrapper, .revslider-container-collapsed .revslider-placeholder {
    display: none;
}

.revslider-slider-wrapper {
    min-height: 142px;
    border-top: 1px solid #ccc;
    padding: 20px 10px;
    position: relative;
}

.revslider-placeholder {
    min-height: 122px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* revision slider styles */
.revslider-revision-slider {
    left: 10px;
    right: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
}

/* revision styles */
.revslider-revision-wrapper, .revslider-revision {
    width: 16px;
}

.revslider-revision-wrapper {
    display: inline-block;
    height: 140px;
}

.revslider-revision-wrapper:hover, .revslider-revision-wrapper.hovered {
    background-color: #f2f2f2;
}

.revslider-revision {
    position: relative;
    margin-top: 70px;
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    z-index: 1;
}

.revslider-revision-border-box {
    height: 100%;
    width: 100%;
    border-left: solid 1px #fff;
}

.revslider-revision-down {
    border-top-width: 2px;
    border-top-style: solid;
}

.revslider-revision-up {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/*.revslider-revision-new,
.revslider-revision-old,
.revslider-revision-intermediate {
    background-color: #bcbcbc;
    border-color: #989898;
}*/

/* arrow styles */
.revslider-arrow-backwards {
    margin-right: 30px;
}

.revslider-arrow-forwards {
    margin-left: 30px;
}

.revslider-arrow {
    width: 22px;
    height: 142px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    color: #222;
}

.revslider-arrow:hover {
    background-color: #fff;
    color: #444;
}

.revslider-arrow:active {
    background-color: #c8ccd1;
    color: #000;
    border-color: #72777d;
}

.revslider-arrow.revslider-arrow-disabled { /* Why there are two classes here? It's honestly super interesting, check it out: http://www.standardista.com/css3/css-specificity/ */
                                            /* In short, the :hover and :active would take priority because they're more specific. Adding the .revslider-arrow class balances things out. */
    cursor: default;
    background-color: #c8ccd1;
    border-color: #c8ccd1;
    color: #fff;
}

.revslider-revisions-container, .revslider-arrow {
    float: left;
}

/* arrow icons */
.revslider-arrow-forwards {
    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-movement&image=next&format=rasterized&lang=en&skin=vector&version=1603uao);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20id%3D%22move-ltr%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M8.935%207.18l5.302%205.303-5.302%205.303L10.35%2019.2l6.715-6.717-6.716-6.716z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
}

.revslider-arrow-backwards {
    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-movement&image=previous&format=rasterized&lang=en&skin=vector&version=1603uao);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20id%3D%22move-rtl%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M15.065%2017.786l-5.302-5.303%205.302-5.302-1.415-1.41-6.714%206.72%206.714%206.71z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
}

.revslider-arrow-forwards.revslider-arrow-disabled {
    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-movement&image=next&format=rasterized&lang=en&skin=vector&version=1603uao);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%3Cg%20xmlns%3Adefault%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22move-ltr%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M8.935%207.18l5.302%205.303-5.302%205.303L10.35%2019.2l6.715-6.717-6.716-6.716z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fg%3E%3C%2Fsvg%3E%0A);
}

.revslider-arrow-backwards.revslider-arrow-disabled {
    background-image: url(/w/load.php?modules=oojs-ui.styles.icons-movement&image=previous&variant=invert&format=rasterized&lang=en&skin=vector&version=1603uao);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%3Cg%20xmlns%3Adefault%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22move-rtl%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22arrow%22%20d%3D%22M15.065%2017.786l-5.302-5.303%205.302-5.302-1.415-1.41-6.714%206.72%206.714%206.71z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fg%3E%3C%2Fsvg%3E%0A);
}

/* revisions container */
.revslider-revisions-container {
    width: calc(100% - 120px);
    height: 144px;
    overflow: hidden;
    position: relative;
}

.revslider-revisions {
    white-space: nowrap;
    position: relative;
    transition: left 500ms ease;
}

/* tooltip styles */
.revslider-tooltip {
    max-width: 320px;
    font-size: 1.1em;
    word-break: break-all;
    word-wrap: break-word;
    padding-top: 14px;
    position: absolute;
    z-index: 99999;
}

.revslider-popup {
    width: 320px;
    height: auto;
    background-color: #fff;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.revslider-popup-body {
    max-width: 295px;
    max-height: 278px;
    min-height: 1em;
    padding-right: 19px;
    margin: 0.75em 1em;
    line-height: 1.4;
    box-sizing: border-box;
    clear: both;
}

.revslider-anchor {
    top: 5px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
}

.revslider-anchor:before {
    bottom: -10px;
    left: -9px;
    border-width: 10px;
    border-top: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #a2a9b1;
}

.revslider-anchor:after {
    bottom: -10px;
    left: -8px;
    border-width: 9px;
    border-top: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
}

.revslider-popup-body strong {
    font-weight: bold;
}

.revslider-popup-body .minor {
    font-style: italic;
    padding-top: 4px;
}

/* diff tag styles */
.edit-neutral {
    color: #aaa; /* AAAAAAAAAAAAAAAA */
}

.edit-positive {
    color: #006400;
}

.edit-negative {
    color: #8b0000;
}

/* line styles */
.revslider-revision-new {
    border-bottom: 2px solid #1e6db8;
}

.revslider-revision-old {
    border-bottom: 2px solid #fc3;
}

/* pointer styles */
.revslider-pointer-container {
    left: 53px;
    position: absolute;
    clear: both;
    top: 49px;
    z-index: 9999;
}

/* progress bar, taken from https://codepen.io/holdencreative/pen/vEVbwv */
.progress {
	position: relative;
	height: 4px;
	display: block;
	width: 33%;
	background-color: #acece6;
	border-radius: 2px;
	background-clip: padding-box;
	margin: 0.5rem auto 1rem auto;
	overflow: hidden;
}
.progress .indeterminate {
	background-color: #26a69a;
}
.progress .indeterminate:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}