/* I18n-js JSON editor CSS
 *
 * CSS for [[I18nEdit]]
 *
 * @authors
        - KockaAdmiralac
        - Dorumin
 */
/* Loading spinner */
#I18nEditSpinner {
    background: white;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000;
}

.I18nEditLoading #I18nEditSpinner {
    display: block;
}

/* Search form and Language picker */
#I18nEditSearchList, #I18nEditPickerFormList {
    column-count: 5;
    list-style: none;
    margin-left: .5em;
    width: 100%;
}

#I18nEditPickerFormList .noexist {
    display: none;
}

#I18nEditPickerModal {
    height: 500px;
}

#I18nEditPickerModalList {
    max-height: 350px;
    overflow-y: auto;
    padding: 1em 0 0 1em;
}

#I18nEditPickerModalList .exists {
    display: none;
}

#I18nEditPickerModalList .noexist {
    list-style-type: none;
}

#I18nEditPickerFilterPopover {
    font-size: 14px;
    padding: .8em;
}

/* Translation editor */
#I18nEditEditorTable {
    width: 100%;
    margin-bottom: 1.5em;
}

#I18nEditEditorTable th {
    width: 25%;
}

#I18nEditSummary {
    font-size: 16px;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.I18nEditEditorButton {
    margin-left: .5em;
    margin-bottom: 2em;
    background-color: #404a57;
    border-color: #404a57;
}

.I18nEditEditor .I18nEditEditorButton:hover {
    background-color: #6b7c92;
    border-color: #6b7c92;
}

.I18nEditEditorSummaryWrap {
    display: inline;
    position: relative;
}

.I18nEditEditorSummaryUnderline {
    background-color: #404a57;
    height: 2px;
    width: 0;
    transition: width .25s ease-in-out;
    position: absolute;
    bottom: -8px;
    left: 0;
}

#I18nEditSummary:focus + .I18nEditEditorSummaryUnderline {
    width: 100%;
}

.I18nEditEditor.lang-en #I18nEditEditorTable tr > th:nth-child(3),
.I18nEditEditor.lang-en #I18nEditEditorTable tr > td:nth-child(3),
.I18nEditEditor.lang-qqq #I18nEditEditorTable tr > th:nth-child(2),
.I18nEditEditor.lang-qqq #I18nEditEditorTable tr > td:nth-child(2) {
    display: none;
}

/* Metadata editor */
.I18nEditMetadataEditorWarning {
    font-weight: bold;
}

.I18nEditAddNewMessageButton, #I18nEditEditorSubmit {
    margin-left: 0.5em;
}

.I18nEditTranslateInput {
    width: calc(100% - 4px);
}